<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" media="all" />
        <script type="text/javascript" src="../static/js/appRegister.js"></script>
        <title>Web Page</title>
    </head>
    <body>
        <h1>Register User</h1>
        <form>
            <label for="">Identification</label><input type="num" name=""/>
             <br /> <br />
            <label for="">Name</label><input type="text" name=""/>
            <br /> <br />
            <label for="">Lastname</label><input type="text">
            <br /> <br />
            <label for="">birthday</label><input type="date" name=""/>
            <button onClick = "registerUser()">Register</button>
        </form>
    </body>
</html>